<header class="site-header">
  <span class="site-header__logo-container">
    <a class="site-header__link" href="{{ '/' | url }}">
      <img
        class="site-header__logo"
        src="/static/img/logo.png"
        alt="Old Geeks Logo"
        width="32px"
        height="32px"
        loading="lazy">
      {{ metadata.title }}

    </a>
  </span>



  <nav class="site-header__nav">
    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="site-header__items">
    {%- for entry in navPages %}
      <li class="site-header__item">
        < class="site-header__link" href="{{ entry.url | url }}"{% if entry.url == page.


      <img
        class="site-header__home"
        src="/static/img/home.png"
        alt="home icon"
        width="16px"
        height="16px"
        loading="lazy">
        
        
        
        url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
</header>
